ffmpeg -f avfoundation -capture_cursor 1 -capture_mouse_clicks 1 -framerate 10 -i "{{.screenNum}}" -f avfoundation -framerate 30 -video_size 640x480 -i "default" -filter_complex "[0:v][1:v]overlay=W-w-20:H-h-20,fps=fps=10,scale=1280:-1,drawtext=fontfile=arial.ttf: fontsize=24: fontcolor=yellow: text='%{localtime\:%a %d %b %Y %T} - %{pts\:hms} - %{frame_num}': box=1: boxcolor=black@0.5: boxborderw=5: x=10: y=10[out]" -map "[out]" -c:v h264_videotoolbox -realtime 1 -profile:v 3 -level 51 -b:v 4000k -t {{.duration}} {{.filepath}} -nostdin